@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

* {
    padding: 0;
    margin: 0;
}

.glitch {
    position: relative;
    height: 100vh;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/001/759/521/large/b-o-w-qin-mansion-hall-render-03j.jpg?1452313551');
    background-size: cover;
}

.glitch:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/001/759/521/large/b-o-w-qin-mansion-hall-render-03j.jpg?1452313551');
    background-position: 7px 0;
    opacity: 0.7;
}

.glory {
    font-family: 'Kirang Haerang', cursive;
    color: #6C3483;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #000, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.glitch:hover:before {
    animation: animate .5s infinite;
}

.glitch>p {
    font-size: 5rem;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Kirang Haerang', cursive;
}

@keyframes animate {
    0% {
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }

    10% {
        background-position: 4px 0;
    }

    20% {
        background-position: -4px 0;
    }

    30% {
        background-position: 12px 0;
    }

    40% {
        background-position: -16px 0;
    }

    50% {
        background-position: -24px 0;
    }

    50% {
        background-position: -52px 0;
    }

    60% {
        background-position: 0 22px;
    }

    70% {
        background-position: -40px -10px;
    }

    80% {
        background-position: -24px 0;
    }

    90% {
        background-position: -24px 0;
    }

    100% {
        background-position: 0 0;
        filter: hue-rotate(360deg);
    }
}

:root {
    --white: #f1f1f1
}

.title {
    margin: 0;
    font-family: Montserrat;
    font-size: 40px;
    color: var(--white);
    letter-spacing: 0.7em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div>span {
    opacity: 0.15;
}

#I {
    opacity: 1;
    animation: flickerI 2s linear reverse infinite;
}

#I::after {
    content: '';
    width: 150%;
    -webkit-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
    -moz-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
    box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}

#L,
#G {
    animation: flickerLG 2s linear reverse infinite;
    position: relative;
}

#L::after,
#L::before {
    content: ' ';
    width: 100px;
    height: 100px;
    background: var(--white);
    position: absolute;
    top: -50%;
    left: 100%;
    border-radius: 100%;
    opacity: 0.05;
    filter: blur(10px);
}

#L::after {
    width: 200px;
    height: 200px;
    top: -150%;
    left: -5%;
    opacity: 0.1;
    filter: blur(10px);
}

#H {
    animation: flickerH 2s linear reverse infinite
}

#T {
    animation: flickerH 2s linear reverse infinite
}

@keyframes flickerI {
    0% {
        opacity: 0.4;
    }

    5% {
        opacity: 0.5;
    }

    10% {
        opacity: 0.6;
    }

    15% {
        opacity: 0.85;
    }

    25% {
        opacity: 0.5;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.25;
    }

    45% {
        opacity: 0.5;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0.85;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flickerLG {
    0% {
        opacity: 0.19;
    }

    5% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.25;
    }

    15% {
        opacity: 0.35;
    }

    25% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.4;
    }

    35% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.25;
    }

    45% {
        opacity: 0.2;
    }

    60% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.35;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes flickerH {
    0% {
        opacity: 0.15;
    }

    5% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.12;
    }

    15% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.15;
    }

    30% {
        opacity: 0.4;
    }

    35% {
        opacity: 0.05;
    }

    40% {
        opacity: 0.12;
    }

    45% {
        opacity: 0.15;
    }

    60% {
        opacity: 0.3;
    }

    70% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.3;
    }

    90% {
        opacity: 0.18;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes flickerT {
    0% {
        opacity: 0.01;
    }

    5% {
        opacity: 0.05;
    }

    10% {
        opacity: 0.03;
    }

    15% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.07;
    }

    30% {
        opacity: 0.1;
    }

    35% {
        opacity: 0.05;
    }

    40% {
        opacity: 0.06;
    }

    45% {
        opacity: 0.1;
    }

    60% {
        opacity: 0.;
    }

    70% {
        opacity: 0.1;
    }

    80% {
        opacity: 0.;
    }

    90% {
        opacity: 0.0;
    }

    100% {
        opacity: 0.1;
    }
}

.convo {
    background: url("https://i.pinimg.com/originals/69/ec/8c/69ec8ca62638f625dc21bdfaf297413a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.convo p {
    margin: 0;
    font-family: Montserrat;
    font-size: 40px;
    color: var(--white);
    letter-spacing: 0.7em;
    display: flex;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote {
    font-family: 'Amatic SC', sans-serif;
    font-size: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test {
    -webkit-animation: squiggly-anim 0.34s linear infinite;
    animation: squiggly-anim 0.34s linear infinite;
}

.quote {
    line-height: 100vh;
    background: #111;
    color: #fff;
}

.test {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    outline: none;
    text-align: center;
    line-height: 1;
}

.small {
    font-size: 0.5em;
}

.smaller {
    font-size: 0.4em;
}

p {
    margin: 0;
}

@-webkit-keyframes squiggly-anim {
    0% {
        filter: url("#squiggly-0");
    }

    25% {
        filter: url("#squiggly-1");
    }

    50% {
        filter: url("#squiggly-2");
    }

    75% {
        filter: url("#squiggly-3");
    }

    100% {
        filter: url("#squiggly-4");
    }
}

@keyframes squiggly-anim {
    0% {
        filter: url("#squiggly-0");
    }

    25% {
        filter: url("#squiggly-1");
    }

    50% {
        filter: url("#squiggly-2");
    }

    75% {
        filter: url("#squiggly-3");
    }

    100% {
        filter: url("#squiggly-4");
    }
}

.future {

    &::after,
    &::before {
        content: "";
        position: absolute;
        border: 2px solid white;
        width: calc(100% + 15px);
        height: 60px;
        transition: 0.5s ease;
    }

    &::after {
        top: -15px;
        left: -15px;
        border-right: none;
        border-bottom: none;
    }

    &::before {
        bottom: -15px;
        right: -15px;
        border-left: none;
        border-top: none;
    }

    &:hover:after,
    &:hover:before {
        width: calc(100% - 30px);
        height: 80px;
    }
}

a {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    position: relative;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    text-align: center;
}

.trans_ghost {
    height: 600px;
    position: absolute;
    left: 30;
}

.trans_ghost img {
    height: 600px;
    opacity: 0.1;

}

.fade-in {
    -webkit-animation: fade-in 10.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 10.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
  0% {
    
    opacity: 0;
  }
  100% {
    
    opacity: 0.4;
  }
}
@keyframes fade-in {
  0% {
    
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}