body {
    background: url("images/wall.png");
    margin: 0;
    overflow: hidden;
    background-size: contain;
}

#info {
    color: white;
    font-family: monospace;
}

canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

img {
    position: absolute;
    cursor: pointer;
    width: 300px;
    height: 477px;
}

#container {
    position: absolute;
    width: 300px;
    height: 477px;
    left: 200;
    
    top: 200;
}