* {
  padding: 0;
  margin: 0;
}
body{
  
}

/* Flashlight Overlay */
:root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
}

:root:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(circle 10vmax at var(--cursorX) var(--cursorY),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, .5) 60%,
      rgba(0, 0, 0, .95) 100%)
}

.hidden {
  background-image: url('wall.png');
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.shadowfilter {
  
}

.shadowfilter:hover {
  -webkit-filter: drop-shadow(12px 12px 12px rgba(0, 255, 0, 0.5));
  filter: drop-shadow(12px 12px 12px rgba(0, 255, 0, 0.5));
}

.snake{
  height: 40vh;
 align-self: flex-start;
 justify-self: flex-start;
}
.lamp{
  height: 20vh;
  z-index: 30;
  position: absolute;
}
.ghost_of_the_wall{
  height: 20vh;
  z-index: 20;
  position: absolute;
}
.painting{
  height: 20vh;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
}

.spider{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}
.character{
  z-index: 0;
  height: 40vh;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  transform-origin: center;
}
.hints{
  z-index: 20;
  height: 100vh;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  transform-origin: center;
}